<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">



   <bean id="servicePublish" class="org.yaccc.xRPC.spring.config.XRPCServicePublish" destroy-method="destory">
      <property name="location" value="127.0.0.1:9000"></property>
      <property name="serviceInterface" value="org.xRPC.spring.test.BeanIOC"></property>
      <property name="serviceImpl" >
         <bean id="impl" class="org.xRPC.spring.test.BeanImpl"></bean>
      </property>
      <property name="serializable" >
         <bean id="javaSerialization" class="org.yaccc.xRPC.serialization.java.JavaSerialization"></bean>
      </property>

   </bean>



</beans>